---
openapi: 3.0.3
info:
  title: html2rss-web API
  version: 1.0.0
  description: RESTful API for converting websites to RSS feeds.
  contact:
    name: html2rss-web Support
    url: https://github.com/html2rss/html2rss-web
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.html2rss.dev/api/v1
  description: Production server
- url: http://127.0.0.1:4000/api/v1
  description: Development server
paths:
  "/":
    get:
      summary: API metadata
      tags:
      - Root
      operationId: getApiMetadata
      security: []
      responses:
        '200':
          description: returns OpenAPI document URL in metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      api:
                        type: object
                        properties:
                          name:
                            type: string
                          description:
                            type: string
                          openapi_url:
                            type: string
                        required:
                        - name
                        - description
                        - openapi_url
                    required:
                    - api
                required:
                - success
                - data
      description: API metadata
  "/feeds":
    post:
      summary: Create a feed
      tags:
      - Feeds
      operationId: createFeed
      security:
      - BearerAuth: []
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                strategy:
                  type: string
              required:
              - url
              - strategy
      responses:
        '201':
          description: creates a feed when request is valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      feed:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                          url:
                            type: string
                          strategy:
                            type: string
                          public_url:
                            type: string
                          created_at:
                            type: string
                          updated_at:
                            type: string
                        required:
                        - id
                        - name
                        - url
                        - strategy
                        - public_url
                        - created_at
                        - updated_at
                    required:
                    - feed
                  meta:
                    type: object
                    properties:
                      created:
                        type: boolean
                    required:
                    - created
                required:
                - success
                - data
                - meta
        '401':
          description: returns 401 with UNAUTHORIZED error payload
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      code:
                        type: string
                    required:
                    - message
                    - code
                required:
                - success
                - error
        '403':
          description: returns forbidden for authenticated requests when auto source
            is disabled
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      code:
                        type: string
                    required:
                    - message
                    - code
                required:
                - success
                - error
      description: Create a feed
  "/feeds/{token}":
    get:
      summary: Render feed by token
      tags:
      - Feeds
      operationId: renderFeedByToken
      security: []
      responses:
        '403':
          description: returns forbidden when auto source is disabled
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      code:
                        type: string
                    required:
                    - message
                    - code
                required:
                - success
                - error
        '200':
          description: renders feed for a valid token
          content:
            application/xml:
              schema:
                type: string
        '401':
          description: returns unauthorized for invalid tokens
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      code:
                        type: string
                    required:
                    - message
                    - code
                required:
                - success
                - error
      description: Render feed by token
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
  "/health":
    get:
      summary: Authenticated health check
      tags:
      - Health
      operationId: getHealthStatus
      security:
      - BearerAuth: []
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: returns health status when token is valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      health:
                        type: object
                        properties:
                          status:
                            type: string
                          timestamp:
                            type: string
                          environment:
                            type: string
                          uptime:
                            type: number
                            format: float
                          checks:
                            type: object
                            properties: {}
                        required:
                        - status
                        - timestamp
                        - environment
                        - uptime
                        - checks
                    required:
                    - health
                required:
                - success
                - data
        '401':
          description: returns 401 with UNAUTHORIZED error payload
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      code:
                        type: string
                    required:
                    - message
                    - code
                required:
                - success
                - error
        '500':
          description: returns error when configuration fails
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      code:
                        type: string
                    required:
                    - message
                    - code
                required:
                - success
                - error
      description: Authenticated health check
  "/health/live":
    get:
      summary: Liveness probe
      tags:
      - Health
      operationId: getLivenessProbe
      security: []
      responses:
        '200':
          description: returns liveness status without authentication
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      health:
                        type: object
                        properties:
                          status:
                            type: string
                          timestamp:
                            type: string
                        required:
                        - status
                        - timestamp
                    required:
                    - health
                required:
                - success
                - data
      description: Liveness probe
  "/health/ready":
    get:
      summary: Readiness probe
      tags:
      - Health
      operationId: getReadinessProbe
      security: []
      responses:
        '200':
          description: returns readiness status without authentication
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      health:
                        type: object
                        properties:
                          status:
                            type: string
                          timestamp:
                            type: string
                          environment:
                            type: string
                          uptime:
                            type: number
                            format: float
                          checks:
                            type: object
                            properties: {}
                        required:
                        - status
                        - timestamp
                        - environment
                        - uptime
                        - checks
                    required:
                    - health
                required:
                - success
                - data
      description: Readiness probe
  "/openapi.yaml":
    get:
      summary: OpenAPI specification
      tags:
      - Root
      operationId: getOpenApiSpec
      security: []
      responses:
        '200':
          description: serves the OpenAPI document as YAML
          content:
            application/yaml:
              schema:
                type: string
      description: OpenAPI specification
  "/strategies":
    get:
      summary: List extraction strategies
      tags:
      - Strategies
      operationId: listStrategies
      security: []
      responses:
        '200':
          description: returns available strategies
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      strategies:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                            display_name:
                              type: string
                          required:
                          - id
                          - name
                          - display_name
                    required:
                    - strategies
                  meta:
                    type: object
                    properties:
                      total:
                        type: integer
                    required:
                    - total
                required:
                - success
                - data
                - meta
      description: List extraction strategies
components:
  securitySchemes:
    BearerAuth:
      description: Bearer token authentication for API access.
      type: http
      scheme: bearer
      bearerFormat: JWT
tags:
- name: Root
  description: API metadata and service-level information.
- name: Health
  description: Health and readiness endpoints.
- name: Strategies
  description: Feed extraction strategy discovery.
- name: Feeds
  description: Feed creation and feed rendering operations.
