version: 2
updates:
  - package-ecosystem: bundler
    directory: "/"
    schedule:
      interval: daily
      time: "22:00"
    open-pull-requests-limit: 10
    versioning-strategy: increase-if-necessary
    allow:
      - dependency-type: production
  - package-ecosystem: docker
    directory: "/"
    schedule:
      interval: daily
      time: "09:00"
    open-pull-requests-limit: 10
