.bundle/
.byebug_history
.DS_Store
.git/
.github/
.mergify.yml
.rspec
.rubocop.yml
.ruby-version
.ruby-lsp/
.yardoc/
app.json
bin/
coverage/
docs/
!docs/api/
!docs/api/v1/
!docs/api/v1/openapi.yaml
Dockerfile
Procfile
Rakefile
renovate.json
spec/
tmp/
work/
frontend/dist/
