<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>html2rss-web instance</title>
    <meta name="referrer" content="no-referrer">
    <style>
      *,
      ::after,
      ::before {
        box-sizing: border-box;
      }

      body {
        font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 16px;
      }

      #app {
        display: flex;
        margin: 0 auto;
        max-width: 44rem;
      }

      .feeds {
        flex: 1 1 100%;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      .feeds__feed {
        flex: 1 1 100%;
        margin-bottom: 2rem;
      }

      .feed {
        display: flex;
        flex-direction: column;
        border: 1px solid #ccc;
        box-shadow: 0 1px 2px rgba(10,10,10,.1);
      }

      .feed h2 {
        box-shadow: 0 1px 2px rgba(10,10,10,.1);
        padding: 1rem 1rem .5rem;
        margin: 0;
      }

      .feed__items {
        list-style: none;
        margin: 0;
        padding-left: 0;
      }

      .item {
        margin: 0;
        padding: .5rem 1rem;
        line-height: 1.61;
        transition: background-color .2s ease-in;
      }

      .item:hover {
        background-color: #ddd;
      }

      @media (min-width: 768px) {
        .feeds__feed {
          flex: 0 0 49%;
        }
      }
    </style>
  </head>
  <body>
    <div id="app">
      <feeds />
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
      Vue.component('item', {
        props: { item: { type: Object, required: true } },
        template: '<li class="item"> \
          <a :href="item.url" target="_blank" rel="noopener nofollow"> \
            {{item.title}} \
          </a> \
        </li>'
      })

      Vue.component('feed', {
        props: { feed: { type: Object, required: true } },
        template: '<div class="feed">\
            <h2>{{feed.title}}</h2> \
            <ul class="feed__items">\
              <item class="feed__item" v-for="item in feed.items" v-bind:item="item" v-bind:key="item.id"/>\
            </ul> \
          </div>'
      })

      Vue.component('feeds', {
        template: '<div class="feeds"><feed class="feeds__feed" v-for="(feed, index) in feeds" v-bind:key="feed.title" v-bind:feed="feed"></feed></div>',
        data: function () {
          return {
            feedNames: <%= JSON.generate(feed_names) %>,
            feeds: []
          }
        },
        mounted: function () {
          var self = this

          this.feedNames.forEach(function (feedName) {
            fetch('./' + feedName + '.json')
            .then(function (response) { return response.json() })
            .then(function (feed) { self.feeds.push(feed) })
          })
        }
      })

      window.app = new Vue({ el: '#app' })
    </script>
  </body>
</html>
