<h1>
  This is a
  <b>html2rss-web</b>
  instance
</h1>

<p>
  Check out the
  <a href="./example.rss" rel="noreferrer nofollow noindex">example.rss</a>.
</p>

<p>
  Find out more about the html2rss ecosystem
  <a href="https://html2rss.github.io/">at the project website</a>.
</p>
