<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="no-referrer"/>
    <meta name="robots" content="noindex, noarchive"/>
    <title>html2rss-web<% if @page_title %> - <%= @page_title %><% end %></title>
    <link href="/water.css" rel="stylesheet"/>
    <link href="/styles.css" rel="stylesheet"/>
    <%== content_for :css %>
  </head>
  <body>
    <aside class="aside-icon">
      <a href="https://html2rss.github.io/">
        <img src="/favicon.ico" alt="HTML2RSS icon" />
      </a>
    </aside>

    <%== yield %>
    <%== content_for :scripts %>
  </body>
</html>
