:root {
  --links: #60b0f4;
  --highlight: #ff9300;
}

::selection {
  background-color: var(--highlight);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* General Styles */
label {
  font-weight: bold;
  cursor: pointer;
}

input[type="text"] {
  width: 100%;
  max-width: 780px;
}

body > h2 {
  margin-top: 2em;
}

/* List Items */
.items {
  list-style: none;
  padding: 2em 0 0 0;
}

.items > li {
  background-color: var(--background);
  border-radius: 6px;
  padding: 0.5em 0.75em;
  margin-bottom: 1em;
}

.items > li:nth-child(odd) {
  background-color: var(--background-alt);
}

.items > li > h3 {
  margin-top: 0;
}

.items > li > div {
  font-size: 0.9em;
  padding: 0.25em;
}

/* Aside Icon */
.aside-icon {
  position: fixed;
  top: 0.5em;
  right: 0.5em;
  z-index: 2;
}

.aside-icon > a > img {
  width: 2em;
  height: 2em;
  box-shadow: 0 0 0.25em;
  border-radius: 0.25em;
  border: 1px solid transparent;
  transition:
    border-color 0.2s,
    opacity 0.2s;
}

.aside-icon > a:hover > img,
.aside-icon > a:focus > img {
  border-color: var(--highlight);
  opacity: 0.9;
}

/* Auto Source Form */
.auto_source {
  display: flex;
  flex-direction: column;
}

.auto_source input {
  width: 100%;
}

.auto_source > form {
  display: flex;
}

.auto_source > form input[type="submit"] {
  flex: 1 1 20em;
  margin-right: 0;
}

/* Iframe Styles */
.auto_source iframe {
  margin-top: 2em;
  border: 1px groove var(--background);
  border-radius: 6px;
  display: none; /* Hide by default */
}

.auto_source iframe[src] {
  display: block;
  min-height: 50em;
  max-height: 80vh;
}
