---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import { App } from "../components/App";
import Bookmarklet from "../components/Bookmarklet.astro";
import Footer from "../components/Footer.astro";
import "../styles/forms.css";
---

<StarlightPage
  frontmatter={{
    title: "Turn Any Website Into an RSS Feed - Instantly",
    template: "splash",
  }}
>
  <div class="minimalist-container">
    <App client:load />
    <Bookmarklet />
    <Footer />
  </div>
</StarlightPage>

<style>
  .minimalist-container {
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  @media (min-width: 768px) {
    .minimalist-container {
      max-width: 720px;
      padding: 2rem 1rem;
      gap: 2rem;
    }
  }
</style>
